{% extends 'email/email.html.twig' %}

        {% block body %}
            <h1 style="text-align: center">Password recover request for your {{ application.name }} account.</h1>

            <div style="text-align: center">
                <p>
                    Someone requested a password recover for your user, if it was not you ignore this email, otherwise follow the instructions below.
                </p>
                <p>
                    [<a href="{{ application.config.frontend_url }}/recover/{{ user.id }}?code={{ user.recover_password_code }}">Click here to change your password</a>]
                </p>
            </div>
        {% endblock %}