{% extends 'email/email.html.twig' %}

        {% block body %}
            <h1 style="text-align: center">Welcome to {{ application.name }}!</h1>

            <div style="text-align: center">
                <p>
                    To fully activate your account, we need verify you own the email address you used.
                </p>
                <p>
                    [<a href="{{ application.config.frontend_url }}/verify/{{ user.id }}?code={{ user.email_verification_code }}">Click here to verify your email address</a>]
                </p>
            </div>
        {% endblock %}